<section class="layout">

    <header class="fx fx-row fx-between">

        <h1 class="txt-secondary-color">suGOku</h1>

        <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Golang.png" alt="go go go" height="50">
    </header>

    <div class="grid-container">

            @for(row of board; track row; let r = $index){

                @for(cell of row; track cell; let c = $index){
                    
                    <input 
                        type="number" 
                        maxlength="1"
                        class="cell"
                        [value]="cell !== 0 ? cell : ''"
                        #cellInput
                        
                        (change)="onInputChange(cellInput?.value, r, c)"
                    />
                }
            }
            
    </div>

    <div class="fx fx-row fx-between fx-center fx-wrap">

        <h3>Generate: </h3>

        @for(level of dificultLevels; track level){

            <button (click)="getData(level)" class="txt-base-color custom-button">{{level}}</button>
        }

        <button (click)="getData(undefined)" class="txt-base-color custom-button">Random</button>

        <button (click)="clearBoard()" class="txt-base-color custom-button solid-border-1px">Clear</button>
    </div>

    @if(currentLevel){

        <p>{{currentLevel}}</p>
    }
</section>