.fx{
    display: flex;
}

.fx-row{
    flex-direction: row;
}

.fx-between{
    justify-content: space-between;
}

.fx-center {
  align-items: center;
}

.fx-inline{
    display: inline-flex;
}

.fx-wrap{
    flex-wrap: wrap;
}