.fx{
    display: flex;
}

.fx-row{
    flex-direction: row;
}

.fx-column{

    flex-direction: column;
}

.medium-gap{

    gap: 12px;
}

.fx-between{
    justify-content: space-between;
}

.fx-around{
    justify-content: space-around;
}

.fx-center {
  align-items: center;
}

.fx-inline{
    display: inline-flex;
}

.fx-wrap{
    flex-wrap: wrap;
}