<section class="layout fx fx-row fx-between fx-center custom-top-space">

    <a 
        [href]="bertoortDomain" 
        target="_blank" 
        rel="noopener noreferrer"
        class="txt-base-color none-txt-decoration fx-inline fx-center"> 
            <mat-icon 
                aria-hidden="false" 
                aria-label="Copyright icon" 
                fontIcon="copyright" 
                class="icon-small"
            /> 
            bertoort
    </a>

    <a 
        [href]="bertoortSudokuGitHub"
        target="_blank" 
        rel="noopener noreferrer"
        class="txt-base-color none-txt-decoration">
        Sudoku Api Docs
    </a>
</section>
